dt{
    background: #e3e3e3;
    font-size: 18px;
    line-height: 2;
    cursor: pointer;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;
}
dt:nth-last-child(2){
    border-bottom:none;
}
.ans{
    display: none;
}
dd{
    font-size: 18px;
    padding: 10px 0;

}
.main-menu{
    width: 50%;
    margin:0 auto;
    text-align: center;
}
